<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>도서커뮤니티</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="/css/slick-theme.css" />
  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />

</head>

<body>

<div class="main_body_content">

  <div class="">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index1">
            도서커뮤니티
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="board">게시판 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="imageboard">이미지 게시판 <span class="sr-only">(current)</span></a>
              </li>
              <li>
              <a class="nav-link" href="lister">좋아요 클릭한 게시판<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="ebook/useradmin">관리자페이지 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" th:if="${sessiona != 'null'}">
                <!-- 세션에 값이 있는 경우, 로그아웃 버튼 표시 -->
                <a class="nav-link" th:href="@{https://kauth.kakao.com/oauth/logout(client_id='9d672256fe1b571e038f23b57e69b78e', logout_redirect_uri='http://localhost:8888/index1')}">로그아웃</a>
              </li>
              <li class="nav-item" th:if="${sessiona == 'null'}">
                <!-- 세션에 값이 없는 경우, 로그인 버튼 표시 -->
                <a class="nav-link" th:href="@{https://kauth.kakao.com/oauth/authorize(response_type='code', client_id='9d672256fe1b571e038f23b57e69b78e', redirect_uri='http://localhost:8888/kakao/callback')}">로그인</a>
              </li>
            </ul>
            <div class="quote_btn-container">
              <a href="mypage">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- 여기서부터 진짜진짜 본문 -->
    <div class="container">
      <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${postList}">
          <th scope="row">
            <span th:text="${post.id}"></span>
          </th>
          <td>
            <a th:href="@{'/ebook/post/' + ${post.id}}">
              <span th:text="${post.title}"></span>
            </a>
          </td>
          <td>
            <span th:text="${post.joinDate}"></span>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
          <a class="btn btn-primary" th:href="@{/ebook/post}" role="button">글쓰기</a>
        </div>
      </div>
    </div>

  <!-- 본문 끝 -->



  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <p color="white">주소 :  대전광역시 중구 어딘가 잘찾아보셈</p>

    </div>
  </section>
</div>

<!-- footer section -->
<!-- footer section -->

<!-- jQery -->
<script  src="/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap js -->
<script  src="/js/bootstrap.js"></script>
<!-- slick slider -->
<script  src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
<!-- custom js -->
<script  src="/js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
<!-- End Google Map -->

</body>

</html>